* {
    margin: 0;
    padding: 0;
}

#tableArea {
    width: 50%;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

table,
th,
td {
    width: 100%;
    border-collapse: collapse;
    border: solid 2px grey;
}

th,
tr,
td {
    font-size: 13px;
    width: 50%;
    /* padding: 10px; 大きい画面の時*/
    padding: 8px;
}

#diceArea,
#inputArea {
    /* margin-top: 30px; */
    text-align: center;
}

img {
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
}

.fixed {
    background-color: grey;
}

.not_fixed {
    background-color: white;
}

.not_fixed:hover {
    background-color: antiquewhite;
}
button{
    font-size: 13px;
    padding: 5px;
    margin-bottom: 10px;
}